TestClientWpf/Web References/SoapWebService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WebserverConnectionTest">
        <s:complexType />
      </s:element>
      <s:element name="WebserverConnectionTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WebserverConnectionTestResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WebserverConnectionTestSoapIn">
    <wsdl:part name="parameters" element="tns:WebserverConnectionTest" />
  </wsdl:message>
  <wsdl:message name="WebserverConnectionTestSoapOut">
    <wsdl:part name="parameters" element="tns:WebserverConnectionTestResponse" />
  </wsdl:message>
  <wsdl:message name="WebserverConnectionTestHttpPostIn" />
  <wsdl:message name="WebserverConnectionTestHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="WebserverConnectionTest">
      <wsdl:input message="tns:WebserverConnectionTestSoapIn" />
      <wsdl:output message="tns:WebserverConnectionTestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="WebserverConnectionTest">
      <wsdl:input message="tns:WebserverConnectionTestHttpPostIn" />
      <wsdl:output message="tns:WebserverConnectionTestHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebserverConnectionTest">
      <soap:operation soapAction="http://tempuri.org/WebserverConnectionTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebserverConnectionTest">
      <soap12:operation soapAction="http://tempuri.org/WebserverConnectionTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="WebserverConnectionTest">
      <http:operation location="/WebserverConnectionTest" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:22513/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:22513/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://localhost:22513/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>